*/arm
*/x86
.assets.index

# generated build output
*.o
*-g
*/translations/qm

#BB10 simulator junk
sim_*

# BB10 config dirs
*/Device-Debug
*/Device-Coverage
*/Simulator-Debug
*/Simulator-Profile
*/Device-Release
*/Simulator-Coverage
*/Device-Profile

# Eclipse workspace junk
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# Eclipse Core
.project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/